



.match {
    margin-top: 3rem;
    font-size: 30px;
    border-collapse: separate;
    border-spacing: 0 20px;
}

.match th {
    padding-bottom: 60px; /* Adjust the value to increase/decrease the gap between the first and second row */
}

.match th, .match td {
    text-align: center;
}

.match td:nth-child(2),
.match th:nth-child(2) {
    color: rgb(0, 123, 172);
    font-weight: bold;
}